<div id="<%= dom_id toner %>">
  <p>
    <strong>Type:</strong>
    <%= toner.toner_model.model %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= toner.toner_model.color %>
  </p>

  <p>
    <strong>Oem name:</strong>
    <%= toner.toner_model.symbol %>
  </p>

  <p>
    <strong>Purchase net price:</strong>
    <%= toner.purchase_net_price %>
  </p>

  <p>
    <strong>Purchase net price:</strong>
    <%= toner.purchase_net_price %>
  </p>

</div>
