<div id="<%= dom_id toner %>">
  <p>
    <strong>Type:</strong>
    <%= toner.type %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= toner.color %>
  </p>

  <p>
    <strong>Oem name:</strong>
    <%= toner.oem_name %>
  </p>

  <p>
    <strong>Purchase net price:</strong>
    <%= toner.purchase_net_price %>
  </p>

</div>
