<div id="<%= dom_id printer_model %>">
  <p>
    <strong>Make:</strong>
    <%= printer_model.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= printer_model.model %>
  </p>

  <p>
    <strong>Is color:</strong>
    <%= printer_model.is_color %>
  </p>

  <p>
    <strong>Toner cyan:</strong>
    <%= printer_model.toner_cyan %>
  </p>

  <p>
    <strong>Toner magenta:</strong>
    <%= printer_model.toner_magenta %>
  </p>

  <p>
    <strong>Toner yellow:</strong>
    <%= printer_model.toner_yellow %>
  </p>

  <p>
    <strong>Toner black:</strong>
    <%= printer_model.toner_black %>
  </p>

  <p>
    <strong>Has replaceable fuser:</strong>
    <%= printer_model.has_replaceable_fuser %>
  </p>

  <p>
    <strong>Fuser kit:</strong>
    <%= printer_model.fuser_kit %>
  </p>

  <p>
    <strong>Has replaceable transfer belt:</strong>
    <%= printer_model.has_replaceable_transfer_belt %>
  </p>

  <p>
    <strong>Transfer kit:</strong>
    <%= printer_model.transfer_kit %>
  </p>

</div>
