<%= turbo_frame_tag "printer_#{printer.id}" do %>
  <div id="<%= dom_id printer %>" class="box">
    <div class="block">
      <div class="columns">
        <div class="column">
          <p>
            <strong>Name:</strong>
            <%= printer.name %>
          </p>
          <p>
            <strong>Model:</strong>
            <%= printer.printer_model.make %>
            <%= printer.printer_model.model %>
          </p>
          <p>
            <strong>S/N:</strong>
            <%= printer.serial_no %>
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Asset:</strong>
            <%= printer.asset_id %>
          </p>
          <p>
            <strong>Purchased:</strong>
            <%= printer.purchase_date %>
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Location:</strong>
            <%= printer.location %>
          </p>
          <p>
            <strong>IP:</strong>
            <%= link_to printer.ip_reservation, "http://#{printer.ip_reservation}",  target: "_blank", rel: "nofollow noopener noreferrer" %>
          </p>
        </div>
        <div class="column is-1">
          <div class="columns">
            <div class="column">
              <%= link_to printer do %>
                <span class="icon is-medium">
                  <i class="ion-chevron-up"></i>
                </span>
              <% end %>
            </div>
            <div class="column">
              <%= link_to edit_printer_path(printer) do %>
                <span class="icon-text is-medium">
                  <i class="ion-ios-cog"></i>
                </span>
                <span>
                  Edit
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      Compatible toners:
      <% printer.printer_model.toner_models.group(:model).each do |tm| %>
        <%= tm.make %>
        <%= tm.model %>
      <% end %>
    </div>
    <div class="block">
      Compatible toners:
      <% printer.printer_model.toner_models.group(:symbol).count do |tm| %>
        <%= tm.make %>
        <%= tm.model %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
