<%= turbo_frame_tag "printer_#{printer.id}" do %>
  <div id="<%= dom_id printer %>" class="box">
    <div class="columns has-background-light">
      <div class="column is-2">
        <div>
          <strong>
            <%= printer.name %>
          </strong>
        </div>
        <div>
          <%= printer.primary_user %>
        </div>
      </div>
      <div class="column is-2">
        <div>
          <%= printer.location %>
        </div>
        <div>
          <%= link_to printer.ip_reservation, "http://#{printer.ip_reservation}",  target: "_blank", rel: "nofollow noopener noreferrer" %>
        </div>
      </div>
      <div class="column">

          <p class="has-background-warning mb-3">
            <strong>
              Toner models:
            </strong>
            <% printer.printer_model.toner_models.group(:model).each do |tm|%>
              <%= tm.model %>
            <% end %>
          </p>
      
        <div class="columns">
          <div class="column">
            <%= printer.toners.black_in_use.first.level %>
          </div>
          <div class="column has-background-warning">
            <%= printer.toners.cyan_in_use.first.level %>
          </div>
          <div class="column">
            <%= printer.toners.magenta_in_use.first.level %>
          </div>
          <div class="column">
            <%= printer.toners.yellow_in_use.first.level %>
          </div>
        </div>
      </div>
      <div class="column is-1">
        <div class="columns">
          <div class="column">
            <%= link_to details_path(printer) do %>
              <span class="icon is-medium">
                <i class="ion-chevron-down"></i>
              </span>
            <% end %>
          </div>
          <div class="column">
            <%= link_to edit_printer_path(printer) do %>
              <span class="icon-text is-medium">
                <i class="ion-ios-cog"></i>
              </span>
              <span>
                Edit
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
