<%= turbo_frame_tag "printer_#{printer.id}" do %>
  <div id="<%= dom_id printer %>" class="box">
    <div class="columns has-background-light">
      <div class="column is-2">
        <div>
          <strong>
            <%= printer.name %>
          </strong>
        </div>
        <div>
          <%= printer.primary_user %>
        </div>
      </div>
      <div class="column is-2">
        <div>
          <%= printer.location %>
        </div>
        <div>
          <%= link_to printer.ip_reservation, "http://#{printer.ip_reservation}" %>
        </div>
      </div>
      <div class="column">
      </div>
      <div class="column is-1">
        <div class="columns">
          <div class="column">
            <%= link_to details_path(printer) do %>
              <span class="icon is-medium">
                <i class="ion-chevron-down"></i>
              </span>

            <% end %>
          </div>
          <div class="column">
            <%= link_to edit_printer_path(printer) do %>
              <span class="icon-text is-medium">
                <i class="ion-ios-cog"></i>
              </span>
              <span>
                Edit
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
