<div id="<%= dom_id printer %>">
  <p>
    <strong>Name:</strong>
    <%= printer.name %>
  </p>

  <p>
    <strong>Asset:</strong>
    <%= printer.asset_id %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= printer.purchase_date %>
  </p>

  <p>
    <strong>Purchase net price:</strong>
    <%= printer.purchase_net_price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= printer.location %>
  </p>

  <p>
    <strong>Ip reservation:</strong>
    <%= printer.ip_reservation %>
  </p>

  <p>
    <strong>Primary user:</strong>
    <%= printer.primary_user %>
  </p>

</div>
