<div id="<%= dom_id printer %>" class="box">
<div class="columns">
  <div class="column has-background-primary">
    <strong>Name:</strong>
    <%= printer.name %>
  </div>

  <div class="column has-background-light">
    <strong>Asset:</strong>
    <%= printer.asset_id %>
  </div>

  <div class="column">
    <strong>Purchase date:</strong>
    <%= printer.purchase_date %>
  </div>

  <div class="column has-background-primary">
    <strong>Purchase net price:</strong>
    <%= printer.purchase_net_price %>
  </div>

  <div class="column">
    <strong>Location:</strong>
    <%= printer.location %>
  </div>

  <div class="column">
    <strong>Ip reservation:</strong>
    <%= printer.ip_reservation %>
  </div>

  <div class="column">
    <strong>Primary user:</strong>
    <%= printer.primary_user %>
  </div>

  <div class="column">
    <%= link_to  edit_printer_path(printer) do %>
      <span class="icon is-large">
        <i class="ion-chevron-down"></i>
      </span>
    <% end %>

  </div>

</div>
</div>